.container {
  height: 600px;
}
.names {
  position: relative;
  top: 50px;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 15px;
}
.reales {
  color: gray;
  font-family: "Roboto", sans serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}
.circle {
  position: relative;
  left: 32%;
  top: 70px;
}
