.container {
  height: 600px;
}
.circle {
  position: relative;
  left: 17%;
}
.names {
  position: relative;
  color: gray;
  font-family: "metropolis bold";
  font-size: 65px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bolder;
}
.reales {
  position: relative;
  color: gray;
  font-family: "Metropolis regular";
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  bottom: 30px;
}
.dot {
  color: orange;
}
.initials {
  color: gray;
  font-size: 110px;
  font-family: "Visby Cf Extra Bold";
}
