.container {
  height: 600px;
}
.names {
  position: relative;
  top: 150px;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 5px;
  font-weight: normal;
  word-spacing: 20ch;
  right: 250;
}
.reales {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: left;
  word-spacing: 100ch;
  font-weight: lighter;
  left: 15;
  top: 15;
  color: white;
}
.circle {
  position: relative;
  border: 8px solid orange;
  border-radius: 100%;
  background: orange;
  width: 225px;
  height: 225px;
  text-align: center;
  left: 80%;
  top: 400px;
}
